body {
    font-family: Arial;
}

form {
    line-height: 1.6em;
}

/*table th {*/
    /*background-color: gainsboro;*/
    /*width:120px;*/
    /*padding:7px 3px;*/
    /*text-align: center;*/
/*}*/

/*table td {*/
    /*padding:4px 3px;*/
    /*text-align: center;*/
/*}*/

.add-text {
    text-align: right;
    background-color: gainsboro;
    padding:7px 3px;
    width:170px;
}

.criteria {
    text-align: center;
    width:800px;
}

.criteria-selected {
    font-size: 1.2em;
    font-weight: bold;
}

.end-button {
    margin:0 0 20px 10px;
    padding: 0 15px;
}

.add-input {
    text-align: left;
    width:170px;
}

.mainFrame {
    padding:15px;
    background-color: gainsboro;
    margin:10px;
    width: 200px;
}

.msg {
    color:darkred;
    font-size:1.2em;
    padding:10px 0 15px 70px;
}
.msg-details {
    background-color: gainsboro;
    font-size:1.2em;
    margin:10px 0 15px 2px;
    padding:10px;
    width: 1347px;
}

.msg-details h2 {
    font-weight: bold;
    font-size: 1.1em;
    padding: 0 0 5px 0;
    margin: 0;
}

.delete-header {
    background-color: #ff9999;
    text-align: center;
}

.column-center {
    text-align: center;
}

.add-link {
    display: inline-block;
    float: left;
    margin-right:40px;
}

.button-field {
    margin-left:50px;
}