<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Używane | Dodaj samochód</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="msg" th:if="${message}" th:text="${message}"></div>

    <form action="/caradded" method="post">

        <input type="hidden" name="id">

        <table class="table table-sm" style="width:350px;">
            <tr>
                <td class="add-text">Typ:</td>
                <td class="add-input">
                    <select name="type">
                    <option value="osobowy">osobowy</option>
                    <option value="dostawczy">dostawczy</option>
                </select>
                </td>
            </tr>
            <tr>
                <td class="add-text">Marka:</td>
                <td class="add-input"><input size="10" type="text" name="make" /></td>
            </tr>
            <tr>
                <td class="add-text">Model:</td>
                <td class="add-input"><input size="10" type="text" name="model" /></td>
            </tr>
            <tr>
                <td class="add-text">Rocznik:</td>
                <td class="add-input"><input type="number" value="2000" min="1960" max="2019" name="year" /></td>
            </tr>
            <tr>
                <td class="add-text">Paliwo:</td>
                <td class="add-input"> <select name="fuel">
                    <option value="benzyna">benzyna</option>
                    <option value="diesel" >diesel</option>
                    <option value="benzyna + LPG" >benzyna + LPG</option>
                </select></td>
            </tr>
            <tr>
                <td class="add-text">Pojemność silnika:</td>
                <td class="add-input"><input min="500" max="9999" value="1000" type="number" name="engine" /> ccm</td>
            </tr>
            <tr>
                <td class="add-text">Moc:</td>
                <td class="add-input"><input min="20" max="999" type="number" name="power" /> KM</td>
            </tr>
            <tr>
                <td class="add-text">Miasto:</td>
                <td class="add-input"><input size="10" type="text" name="location" /></td>
            </tr>
            <tr>
                <td class="add-text">Cena:</td>
                <td class="add-input"><input min="1000" max="999999" type="number" name="price" /> zł</td>
            </tr>
        </table>
        <div class="button-field">
            <div class="add-link"><button class="btn btn-secondary" type="submit">Dodaj</button></div>
            <div class="add-link"><a class="btn btn-secondary" href="/main">Wróć</a></div>
        </div>
    </form>
</body>
</html>