<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Używane | Dodaj samochód</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <form action="#" th:action="@{/caradded}" th:object="${car}" method="post">

        <input type="hidden" th:field="*{id}">

        <table>
            <tr>
                <td class="add-text">Typ:</td>
                <td class="add-input"><input size="10" type="text" th:field="*{type}" /></td>
            </tr>
            <tr>
                <td class="add-text">Marka:</td>
                <td class="add-input"><input size="10" type="text" th:field="*{make}" /></td>
            </tr>
            <tr>
                <td class="add-text">Model:</td>
                <td class="add-input"><input size="10" type="text" th:field="*{model}" /></td>
            </tr>
            <tr>
                <td class="add-text">Rocznik:</td>
                <td class="add-input"><input type="number" value="2000" min="1960" max="2019" th:field="*{year}" /></td>
            </tr>
            <tr>
                <td class="add-text">Paliwo:</td>
                <td class="add-input"><input size="10" type="text" th:field="*{fuel}" /></td>
            </tr>
            <tr>
                <td class="add-text">Pojemność silnika:</td>
                <td class="add-input"><input min="500" max="9999" type="number" th:field="*{engine}" /></td>
            </tr>
            <tr>
                <td class="add-text">Moc:</td>
                <td class="add-input"><input min="20" max="999" type="number" th:field="*{power}" /></td>
            </tr>
            <tr>
                <td class="add-text">Miasto:</td>
                <td class="add-input"><input size="10" type="text" th:field="*{location}" /></td>
            </tr>
            <tr>
                <td class="add-text">Cena:</td>
                <td class="add-input"><input min="1000" max="999999" type="number" th:field="*{price}" /></td>
            </tr>
            <tr>
                <td></td>
                <td class="add-input"><button class="end-button" type="submit">Dodaj</button></td>
            </tr>
        </table>
    </form>




</body>
</html>