<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Używane | Strona główna</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="msg" th:text="${deletedcar}"></div>
<div class="container">

    <table class="table table-sm">
        <thead>
        <tr>
            <th>Typ</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Rok prod.</th>
            <th>Paliwo</th>
            <th>Pojemność</th>
            <th>Moc</th>
            <th>Miasto</th>
            <th>Cena</th>
            <th class="delete-header">Usuń</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="car: ${cars}">
            <td th:text="${car.type}"></td>
            <td th:text="${car.make}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.year}"></td>
            <td th:text="${car.fuel}"></td>
            <td> <span th:text="${car.engine}"> </span>ccm</td>
            <td> <span th:text="${car.power}"></span> KM</td>
            <td th:text="${car.location}"></td>
            <td> <span th:text="${car.price}"> </span>zł</td>
            <td class="column-center"><a th:href="@{|/cars/${car.id}/delete|}">Usuń</a></td>
        </tr>
        </tbody>
    </table>
</div>
<br>

<form action="/main">
    <div class="button-field">

<div class="add-link"><a class="btn btn-secondary" href="/addcar">+ Dodaj samochód</a></div>
        <div class="add-link"><a class="btn btn-secondary" href="/excel">Eksport do pliku</a>
            <div class="cretedfiletext" th:if="${filemessage}"  th:text="${filemessage}"></div>
        </div>
<div class="add-link"><a class="btn btn-secondary" href="/">Skrócona lista</a></div>
    <div class="add-link"></div> <input type="text" name="searchWord" />
        <input class="btn btn-secondary" type="submit" value="Szukaj" /></div>
</div>

</form>
</body>

</html>