<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Używane | Strona główna</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div th:if="${car}" class="msg-details">
    <h2>Szczegóły pojazdu:</h2>
    Typ: <span th:text="${car.type}"></span >,
    <span th:text="${car.make}"></span >
    <span th:text="${car.model}"></span >, rok produkcji:
    <span th:text="${car.year}"></span >, paliwo:
    <span th:text="${car.fuel}"></span >, pojemność:
    <span th:text="${car.engine}"></span >ccm, moc:
    <span th:text="${car.power}"></span >KM,
    <span th:text="${car.location}"></span >, cena:
    <span th:text="${car.price}"></span >zł.
</div>

<div class="container">
    <table class="table table-sm" style="width: 600px;">
        <thead>
        <tr>
            <th>Marka</th>
            <th>Model</th>
            <th>Cena</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="car: ${carsdto}">
            <td th:text="${car.make}"></td>
            <td th:text="${car.model}"></td>
            <td> <span th:text="${car.price}"> </span>zł</td>
            <td><a th:href="@{|/cars/${car.id}/details|}">Szczegóły</a></td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<form action="/">
    <div class="button-field">
        <div class="add-link"><a class="btn btn-secondary" href="/main">Pełna lista</a></div>
    <input type="text" name="searchWord" />
    <input type="submit" value="Szukaj" />
    </div>
</form>


</body>

</html>